{% extends "layout.html" %}
{% from "popup.html" import popup_wrapper, popup_text_input, popup_number_input, popup_dropdown %}
{% from "components.html" import folder_table, simple_table %}

{% block head %}
<link rel="stylesheet" href="/static/category.css" />
{% endblock %}

<!-- body -->

{% block content%}
{% if not_found %}
<h1>Category not found</h1>
{% else %}

{{ folder_table(
subcategories,
"Create new subcategory",
"createNewSubcategory()",
'/category',
path) }}

{% if category_properties is not none %}
{% if category_properties %}
{% call simple_table("Category properties", "Edit properties", "editCategoryProperties()") %}
<tbody>
    {% for property in category_properties %}
    <tr>
        <td style="padding: 10px;">{{ property }}</td>
    </tr>
    {% endfor %}
</tbody>
{% endcall %}
{% else %}
<h2>Category has no properties</h2>
{% endif %}
{% endif %}


{% if items is not none %}
{% call simple_table("Items", "Create new item", "createNewItem()") %}
<thead>
    <tr>
        <th>Name</th>
        <th>Count</th>
        {% for property in category_properties %}
        <th>{{ property }}</th>
        {% endfor %}
    </tr>
</thead>
<tbody>
    {% for item in items %}
    <tr class="table-hover-effect">
        <td><a href="/item/{{ item.id }}">{{ item.name }}</a></td>
        <td><a href="/item/{{ item.id }}">{{ item.total_count }}</a></td>
        {% for property in item.properties %}
        <td><a href="/item/{{ item.id }}">{{ property }}</a></td>
        {% endfor %}
    </tr>
    {% endfor %}
</tbody>
{% endcall %}
{% endif %}

{% endif %}
{% endblock %}


<!-- popups -->

{% block popup %}

{% call popup_wrapper("new-subcategory-popup", "Create a new subcategory") %}

{{ popup_text_input("category-name", "name", "Name of new category") }}

<hr>
<p>Add custom properties for the new category</p>

<div id="popup-list-input">
    <div id="category-properties-list"></div>
    <div id="input-button">
        <input type="text" id="category-property-name-input" placeholder="Property name">
        <button onclick="addProperty(event)">+</button>
    </div>
</div>

{% endcall %}

{% call popup_wrapper("new-item-popup", "Create a new item", "/item") %}

<input type="hidden" name="category-id" value="{{ category_info.id }}">

{{ popup_text_input("item-name", "name", "Name of new item") }}
{{ popup_dropdown("new-item-location", "location-id", "Location") }}
{{ popup_number_input("item-count", "count", "Count", "1") }}

<hr>
{% if category_properties is not none and category_properties %}

<h3>Custom properties</h3>
<div id="category-properties" class="popup-input popup-gap">
    {% for property in category_properties %}
    {{ popup_text_input("item-property-" ~ property, "property." ~ property, property) }}
    {% endfor %}
</div>
{% else %}
<p>No custom properties for this category</p>
{% endif %}

{% endcall %}

{% endblock %}

<!-- scripts -->

{% block scripts %}
<script>
    let loadingCategories = false;
    let previousCategory = "";
    async function onCategoryChange() {
        if (loadingCategories) {
            document.getElementById("item-category").value = previousCategory;
            return;
        }
        const category = document.getElementById("item-category").value;
        const properties = document.getElementById("category-properties");
        previousCategory = category;
        loadingCategories = true;

        properties.innerHTML = "Loading properties...";

        await fetch(`/api/category/properties/${category}`)
            .then(response => response.json())
            .then(data => {
                properties.innerHTML = "";
                for (const property of data) {
                    properties.innerHTML += `
                        <label for="item-property-${property}">${property}</label>
                        <input type="text" id="item-property-${property}" name="property.${property}" required>
                        <br>
                    `;
                }
                loadingCategories = false;
            }).catch(error => {
                properties.innerHTML = "Error loading properties";
                loadingCategories = false;
                console.error(error);
            });
    }

    const newCategoryPropertyListElement = document.getElementById('category-properties-list')

    let newCategoryProperties = [];

    function onPropertyDelete(propertyWrapperElement) {
        propertyWrapperElement.delete();
    }

    function updateNewCategoryPropertyList() {
        newCategoryPropertyListElement.innerHTML = '';
        for (const propertyName of newCategoryProperties) {
            const propertyWrapper = document.createElement("div")
            const propertyElement = document.createElement("div");
            const propertyDeleteElement = document.createElement("button");
            const propertyFormElement = document.createElement("input");

            propertyDeleteElement.addEventListener('click', (e) => {
                e.preventDefault();
                propertyWrapper.remove();
                newCategoryProperties = newCategoryProperties.filter(item => item !== propertyName)
            });

            propertyDeleteElement.innerHTML = '&times;'
            propertyElement.textContent = propertyName;
            propertyFormElement.setAttribute('type', 'hidden');
            propertyFormElement.setAttribute('name', 'category-property-name');
            propertyFormElement.setAttribute('value', propertyName);

            propertyWrapper.appendChild(propertyElement)
            propertyWrapper.appendChild(propertyFormElement)
            propertyWrapper.appendChild(propertyDeleteElement)
            newCategoryPropertyListElement.appendChild(propertyWrapper);
        }
    }

    function addProperty(e) {
        e.preventDefault();
        const propertyNameElement = document.getElementById('category-property-name-input');

        if (propertyNameElement.value === '') {
            alert('Property name can\'t be empty');
            return;
        };
        if (newCategoryProperties.includes(propertyNameElement.value)) {
            alert('Property name already exists')
            return;
        }

        newCategoryProperties.push(propertyNameElement.value);
        updateNewCategoryPropertyList();
        propertyNameElement.value = '';
    }

    function createNewSubcategory() {
        newCategoryProperties = [];
        updateNewCategoryPropertyList();
        openPopup('new-subcategory-popup')
    }

    let allLocations = null;
    async function createNewItem() {
        const newItemLocationElement = document.getElementById('new-item-location')
        if (allLocations === null) {
            allLocations = await fetch('/api/location/all').then(res => res.json())

        }
        newItemLocationElement.innerHTML = '';
        for (const location of allLocations) {
            newItemLocationElement.innerHTML += `<option value="${location.id}">${location.path}</option>`;
        }

        openPopup('new-item-popup');
    }
</script>
{% endblock %}