{% macro breadcrumbs(root_path, root_name, path) %}
<div class="breadcrumbs">
    <a href="{{ root_path }}/">{{ root_name }}</a>
    {% set partial_path = namespace(path='') %}
    {% for location in path %}
    {% set partial_path.path = partial_path.path + '/' + location %}
    <span class="breadcrumb-separator">/</span>
    {% if loop.last %}
    <a href="{{ root_path }}{{ partial_path.path }}" class="current">{{ location }}</a>
    {% else %}
    <a href="{{ root_path }}{{ partial_path.path }}">{{ location }}</a>
    {% endif %}
    {% endfor %}
</div>
{% endmacro %}