{% from "popup.html" import popup_styling %}
{% from "popup.html" import popup_script %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory manager</title>

    <style>
        * {
            font-family: 'Roboto', sans-serif;
            color: #fff;
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/popup.css" />
    <link rel="stylesheet" href="/static/layout.css" />
    <link rel="stylesheet" href="/static/generic.css" />

    {% block head %}{% endblock %}
</head>

<body>
    <nav>
        <ul>
            <li><a href="/location">Browse by location</a></li>
            <li><a href="/category">Browse by category</a></li>
        </ul>
    </nav>
    <div id="site-body">
        <div id="site-block">
            <noscript>Only viewing of data is supported without javascript!</noscript>
            {% block content %}{% endblock %}
        </div>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="error-messages-popup" class="popup-wrapper" style="display: block;">
        <div class="popup">
            <div class="popup-header">
                <h2>An error happened</h2>
                <button class="popup-close-button" id="error-messages-popup-close-button"><span>&times;</span></button>
            </div>
            <div class="popup-body">
                <ul class="flashes">
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="popup-overlay"></div>
    </div>
    <script>
        document.getElementById("error-messages-popup-close-button").addEventListener("click", () => {
            document.getElementById("error-messages-popup").style.display = "none";
        });
    </script>
    {% endif %}
    {% endwith %}

    {% block popup %}
    {% endblock %}

    {% block scripts %}{% endblock %}
    {{ popup_script() }}
</body>

</html>