{% from "popup.html" import popup_styling %}
{% from "popup.html" import popup_script %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory manager</title>

    <style>
        * {
            font-family: 'Roboto', sans-serif;
            color: #fff;
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/popup.css" />
    <link rel="stylesheet" href="/static/layout.css" />
    <link rel="stylesheet" href="/static/generic.css" />

    {% block head %}{% endblock %}
</head>

<body>
    <nav>
        <ul>
            <li><a href="/location">Location</a></li>
            <li><a href="/category">Category</a></li>
        </ul>
    </nav>
    <div id="site-body">
        <div id="site-block">
            <noscript>Only viewing of data is supported without javascript!</noscript>
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block popup %}
    {% endblock %}

    {% block scripts %}{% endblock %}
    {{ popup_script() }}
</body>

</html>