{% extends "layout.html" %}
{% from "popup.html" import popup_wrapper, popup_text_input, popup_number_input, popup_dropdown %}
{% from "components.html" import folder_table, simple_table %}


<!-- body -->

{% block content %}
{{ folder_table(
sublocations,
"Create new sublocation",
"createNewSublocation()",
'/location',
path,
"Edit location" if path else "",
"editLocation()" if path else "") }}

{% if items is not none %}
{% call simple_table("Items", "Create new item", "createNewItem()") %}
<thead>
    <tr>
        <th>Name</th>
        <th>Count</th>
        <th>Category</th>
    </tr>
</thead>
<tbody>
    {% for item in items %}
    <tr class="table-hover-effect">
        <td><a href="/item/{{ item.item_id }}">{{ item.item_name }}</a></td>
        <td><a href="/item/{{ item.item_id }}">{{ item.count }}</a></td>
        <td><a href="/item/{{ item.item_id }}">{{ item.category_path }}</a></td>
    </tr>
    {% endfor %}
</tbody>
{% endcall %}
{% endif %}
{% endblock %}


<!-- popups -->

{% block popup %}

{% call popup_wrapper("edit-location-popup", "Edit location") %}
<input type="hidden" name="action" value="edit-location">
<input type="hidden" name="location-id" value="{{ location_info.id }}">
{{ popup_text_input("location-edit-name", "name", "Name", path[-1]) }}
<button class="form-delete-button" onclick="deleteLocation(event)">Delete location</button>
{% endcall %}

{% call popup_wrapper("new-sublocation-popup", "Create a new sublocation") %}
<input type="hidden" name="action" value="new-location">
<input type="hidden" name="location-id" value="{{ location_info.id }}">

{{ popup_text_input("location-name", "name", "Name of new location") }}
{% endcall %}

{% call popup_wrapper("new-item-popup", "Create a new item") %}
<input type="hidden" name="action" value="new-item">
<input type="hidden" name="location-id" value="{{ location_info.id }}">

{{ popup_text_input("new-item-name", "name", "Name of new item") }}
{{ popup_dropdown("new-item-category", "category-id", "Category") }}
{{ popup_number_input("item-count", "count", "Count", "1") }}

<hr>

<div id="custom-properties-exist">
    <h3>Custom properties</h3>
    <div class="popup-input popup-gap" id="category-properties"></div>
</div>
<div id="custom-properties-dont-exist" style="display: none;">
    <p>No custom properties exist for the specified category</p>
</div>
{% endcall %}

{% endblock %}


<!-- scripts -->

{% block scripts %}
<script>
    let loadingCategories = false;
    let previousCategory = "";

    document.getElementById('new-item-category').addEventListener('change', onCategoryChange);

    function editLocation() {
        openPopup("edit-location-popup");
    }

    function deleteLocation(e) {
        e.preventDefault();

        if (confirm("Are you sure you want to delete this location?\nAll sublocations and items will be deleted as well")) {
            const formElement = document.createElement('form');
            formElement.setAttribute('method', 'post');
            formElement.setAttribute('action', '/location/{{ path[:-1] | join("/") }}/'); // Trick to make the redirect url to the previous page
            formElement.innerHTML = '<input type="hidden" name="action" value="delete-location">';
            formElement.innerHTML += '<input type="hidden" name="location-id" value="{{ location_info.id }}">';
            document.body.appendChild(formElement);
            formElement.submit();
            document.body.removeChild(formElement);
        }
    }

    function createTextInput(inputId, inputName, inputLabel) {
        const container = document.createElement("div");
        container.classList.add("popup-input", "popup-text-input");

        const label = document.createElement("label");
        label.setAttribute("for", inputId);
        label.appendChild(document.createTextNode(inputLabel));

        const input = document.createElement("input");
        input.setAttribute("type", "text");
        input.setAttribute("id", inputId);
        input.setAttribute("name", inputName);

        container.appendChild(label);
        container.appendChild(input);

        return container;
    }

    const customPropertiesExistElement = document.getElementById('custom-properties-exist');
    const customPropertiesDontExistElement = document.getElementById('custom-properties-dont-exist');

    async function onCategoryChange() {
        if (loadingCategories) {
            document.getElementById("new-item-category").value = previousCategory;
            return;
        }
        const category = document.getElementById("new-item-category").value;
        const properties = document.getElementById("category-properties");
        previousCategory = category;
        loadingCategories = true;

        customPropertiesExistElement.style.display = 'block';
        customPropertiesDontExistElement.style.display = 'none';
        properties.innerHTML = "<p>Loading properties...</p>";

        await fetch(`/api/category/properties/${category}`)
            .then(response => response.json())
            .then(data => {
                if (data.length === 0) {
                    customPropertiesExistElement.style.display = 'none';
                    customPropertiesDontExistElement.style.display = 'block';
                } else {
                    customPropertiesExistElement.style.display = 'block';
                    customPropertiesDontExistElement.style.display = 'none';
                }
                properties.innerHTML = "";
                for (const property of data) {
                    const inputElement = createTextInput(`item-property-${property}`, `property.${property}`, property);
                    properties.appendChild(inputElement);
                }
                loadingCategories = false;
            }).catch(error => {
                properties.innerHTML = "<p>Error loading properties</p>";
                loadingCategories = false;
                console.error(error);
            });
    }

    function createNewSublocation() {
        openPopup("new-sublocation-popup");
    }

    let allCategories = null;
    async function createNewItem() {
        const newItemCategoryElement = document.getElementById('new-item-category')
        if (allCategories === null) {
            allCategories = await fetch('/api/category/all').then(res => res.json())

        }
        newItemCategoryElement.innerHTML = '';
        for (const category of allCategories) {
            newItemCategoryElement.innerHTML += `<option value="${category.id}">${category.path}</option>`;
        }

        onCategoryChange();
        openPopup('new-item-popup');
    }

</script>
{% endblock %}