{% extends "layout.html" %}
{% from "macros.html" import popup_wrapper %}

<!-- scripts -->

{% block scripts %}
<script>
    const openPopupButton = document.getElementById("openPopupButton");

    openPopupButton.addEventListener("click", () => {
        openPopup("new-sublocation-popup");
    });
</script>
{% endblock %}

<!-- body -->

{% block content%}

{% if not_found %}
<h1>Location not found</h1>
{% else %}
<h2>Current path: /{{path | join('/')}}</h2>
<h3>Location info</h3>
<p>{{ location_info }}</p>
<h3>Sublocations</h3>
<button id="openPopupButton">Create new sublocation</button>
{% if path | length > 0 %}
<a href="../">Go up a level</a>
{% endif %}
<ul>
    {% for sublocation in sublocations %}
    <li><a href="{{sublocation.name}}">{{sublocation.name}}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block popup %}
{% call popup_wrapper("new-sublocation-popup", "Create a new sublocation") %}
<form method="post">
    <label for="name">Name of new location:</label>
    <input type="text" id="name" name="name" required>
    <button type="submit">Submit</button>
</form>
{% endcall %}
{% endblock %}