{% extends "layout.html" %}
{% from "popup.html" import popup_wrapper, popup_text_input, popup_number_input, popup_dropdown %}
{% from "components.html" import folder_table %}


<!-- body -->

{% block content %}
{% if not_found %}
<h1>Location not found</h1>
{% else %}

{{ folder_table(
sublocations,
"Create new sublocation",
"createNewSublocation()",
'/location',
path) }}

{% if items is not none %}
<h3>Items</h3>
<button onclick="createNewItem()">Create new item</button>
<ul>
    {% for item in items %}
    <li><a href="/item/{{ item.item_id }}">{{ item.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}

{% endif %}
{% endblock %}


<!-- popups -->

{% block popup %}

{% call popup_wrapper("new-sublocation-popup", "Create a new sublocation") %}
<label for="location-name">Name of new location</label>
<input type="text" id="location-name" name="name" required>
{% endcall %}

{% call popup_wrapper("new-item-popup", "Create a new item", "/item") %}
<input type="hidden" name="location-id" value="{{ location_info.id }}">

<label for="new-item-name">Name of new item</label>
<input type="text" id="new-item-name" name="name" required>

<label for="new-item-category">Category</label>
<select id="new-item-category" name="category-id" required onchange="onCategoryChange()">
</select>

<div style="border: 1px solid black; padding: 10px;">
    <p>Properties:</p>

    <div id="category-properties"></div>
</div>

<label for="item-count">Count</label>
<input type="number" id="item-count" name="count" value="1" min="1" required>
{% endcall %}

{% endblock %}

<!-- scripts -->

{% block scripts %}
<script>


    let loadingCategories = false;
    let previousCategory = "";

    async function onCategoryChange() {
        if (loadingCategories) {
            document.getElementById("new-item-category").value = previousCategory;
            return;
        }
        const category = document.getElementById("new-item-category").value;
        const properties = document.getElementById("category-properties");
        previousCategory = category;
        loadingCategories = true;

        properties.innerHTML = "Loading properties...";

        await fetch(`/api/category/properties/${category}`)
            .then(response => response.json())
            .then(data => {
                properties.innerHTML = "";
                for (const property of data) {
                    properties.innerHTML += `
                        <label for="item-property-${property}">${property}</label>
                        <input type="text" id="item-property-${property}" name="property.${property}" required>
                        <br>
                    `;
                }
                loadingCategories = false;
            }).catch(error => {
                properties.innerHTML = "Error loading properties";
                loadingCategories = false;
                console.error(error);
            });
    }

    function createNewSublocation() {
        openPopup("new-sublocation-popup");
    }

    let allCategories = null;
    async function createNewItem() {
        const newItemCategoryElement = document.getElementById('new-item-category')
        if (allCategories === null) {
            allCategories = await fetch('/api/category/all').then(res => res.json())

        }
        newItemCategoryElement.innerHTML = '';
        for (const category of allCategories) {
            newItemCategoryElement.innerHTML += `<option value="${category.id}">${category.path}</option>`;
        }

        onCategoryChange();
        openPopup('new-item-popup');
    }

</script>
{% endblock %}