{% macro popup_wrapper(popup_id, title, close_text='Close') %}
<div id="{{ popup_id }}" class="popup-wrapper">
    <div class="popup">
        <h2>{{ title }}</h2>
        <div class="popup-content">
            {{ caller() }}
        </div>
        <button id="{{ popup_id }}-close-button">{{ close_text }}</button>
    </div>
    <div class="popup-overlay"></div>
</div>
{% endmacro %}

{% macro popup_script() %}
<script>

    function openPopup(popupId) {
        const popupElement = document.getElementById(popupId);
        const popupCloseButton = document.getElementById(`${popupId}-close-button`);

        popupElement.style.display = "block";

        const onClose = () => {
            popupCloseButton.removeEventListener('click', onClose);
            popupElement.style.display = "none";
        };
        popupCloseButton.addEventListener('click', onClose);
    }
</script>
{% endmacro %}