hr {
	width: 100%;
	border: none;
	border-bottom: 2px solid #ddd;
}

.button,
button {
	display: inline-block;
	padding: 12px 16px;
	background-color: #ff6600;
	border: none;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: #ff8a3c;
}

/* Breadcrumbs */

.breadcrumbs {
	padding: 10px 4px;
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
	align-items: flex-start;
}

.breadcrumbs a {
	text-decoration: none;
	color: #bbb;
}

.breadcrumbs a:hover {
	color: #ff944c;
}

.breadcrumbs .breadcrumb-separator {
	margin: 0 2px;
}

.breadcrumbs .current {
	color: #fff;
}

/* Item table */

.table-scroll-container {
	overflow-x: auto;
	margin: 10px 0;
}

.item-list {
	width: 100%;
	border-collapse: collapse;
	background-color: #3d3d3d;
	white-space: nowrap;
}

.item-list th,
.item-list td {
	text-align: left;
	padding: 12px 16px;
}

.item-list thead {
	background-color: #0000;
}

.item-list thead tr {
	border-bottom: 2px solid #ff6600;
}

.item-list tbody tr:nth-child(even) {
	background-color: #484848;
}

.item-list tr.table-hover-effect:hover {
	background-color: #555;
}

.item-list td:has(a),
.item-list td.no-table-padding {
	padding: 0;
}

.item-list td a {
	display: block;
	text-decoration: none;
	color: inherit;
	padding: 12px 16px;
}

/* table section header */

.table-section-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
}

.table-section-header div {
	max-width: 100%;
}

.table-section-header h1,
.table-section-header h2 {
	margin: 0;
	max-width: 100%;
	word-wrap: break-word;
}

.table-right-buttons {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	justify-content: flex-end;
	gap: 8px;
	justify-self: flex-end;
}

.table-right-buttons button.table-secondary-button {
	background-color: transparent;
	color: #ff944c;
	padding: 0;
	padding: 12px 0;
}

.table-right-buttons button.table-secondary-button:hover {
	color: #fff;
}

.form-delete-button {
	margin-top: 10px;
	width: 100%;
	background-color: #cb2a2a;
	color: #fff;
}

.form-delete-button:hover {
	background-color: #ff4d4d;
}

/* folder table */

.previous-folder {
	border-bottom: 2px solid #ff6600;
}

.previous-folder td {
	padding: 0;
}

/* weird selector done to get higher specificity without !important*/
.folder-column-link[class='folder-column-link'] {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.previous-folder a[href='../'] {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.previous-folder a[href='../']:hover {
	background-color: #555;
}

.path-arrow {
	fill: #fff;
	pointer-events: none;
}

.folder-column-link svg {
	transform: rotate(-90deg);
}

.previous-folder svg {
	transform: rotate(180deg);
}
